.form_container {
  background: white;
  border-radius: 8px;
  margin-right: 80px;
  display: flex;
  justify-content: center !important;
  margin: 5px auto;
  .submit_button{
    background-color: rgb(0, 230, 118);
  }
}
