@font-face{
  font-family: iranyekanwebbold;
  src: url('../../public/fonts/iranyekanwebbold/iranyekanwebbold.ttf');
}
@font-face{
  font-family: iranyekanwebmedium;
  src: url('../../public/fonts/iranyekanwebmedium/iranyekanwebmedium.ttf');
}
@font-face{
  font-family: iranyekanwebthin;
  src: url('../../public/fonts/iranyekanwebthin/iranyekanwebthin.ttf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F1F3F5;
    font-family: iranyekanwebmedium;
    color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
